body{
        
    background-color:rgb(243, 243, 229);
    text-align: center;
    
}
hr{
    background-color:rgb(243, 243, 229);
    border-style:none;
    border-top-style:dotted;
    border-color:cadetblue;
    border-width: 4px;
    
    width:5%;

    
}
table{
    margin: auto;
}
h1{
    color:#648080;
}
h3{
    color: rgb(168, 136, 197);
}